<%= turbo_frame_tag comment.to_dom_id, class: 'media p-3 hidden', data: { comments_target: 'comment' } do %>
  <div class="media-left">
    <figure class='image is-48x48'>
      <%= image_tag avatar_url(user, 48), class: 'is-rounded'%>
    </figure>
  </div>

  <div class="media-content">
    <strong><%= comment.user.username %></strong>
    <div><%= comment.body %></div>
  </div>

  <% if comment.user == user %>
    <div class="media-right">
      <div><%= link_to 'Edit', edit_post_comment_path(comment.post, comment) %></div>
      <div><%= button_to 'Delete', post_comment_path(comment.post, comment), method: :delete, data: { turbo_method: :delete }, class: 'remove-btn-style' %></div>
    </div>
  <% end %>
<% end %>
