<div class="box" id="<%= dom_id(user) %>">  
  <div class="media is-flex is-align-items-center">
    
    <div class="media-left">
      <figure class='image is-48x48'>
        <img class='is-rounded'src='https://picsum.photos/48/48'>
      </figure>
    </div>

    <div class="media-content">
      <strong><%= user.username %></strong>
      <% if current_user.friends.include?(user) %>
        <div>Friends</div>
      <% end %>
    </div>


    <div class="media-right">
      <% if current_user.friends.include?(user) %>
        <%= button_to "Remove Friend", current_user.friendship(user), method: :delete %>
      <% elsif current_user.sent_request?(user) %>
        <div>Friend Request Sent!</div>
      <% elsif current_user.received_request?(user) %>
        <%= button_to "Add Friend", Friendship.new, params: { user2: user } %>
      <% else %>
        <%= button_to "Send Friend Request", FriendRequest.new, params: { receiver: user} %>
      <% end %>
    </div>

  </div>
</div>