<div class="box">  
  <div class="media is-flex is-align-items-center">
    <div class="media-left">
      <figure class='image is-48x48'>
        <img class='is-rounded'src='https://picsum.photos/48/48'>
      </figure>
    </div>

    <div class="media-content">
      <strong><%= user.username %></strong>
    </div>

    <div class="media-right">
      <%= form_with model: FriendRequest.new do |f| %>
        <%= f.hidden_field :sender_id, value: current_user.id %>
        <%= f.hidden_field :potential_friend_id, value: user.id %>
        <%= f.submit "Send Friend Request" %>
      <% end %>
    </div>
  </div>
</div>