<%= turbo_frame_tag 'middle-column' do%>
  <div class="level">
    <div class="level-left">
      <%= link_to "\u2190 Back to posts", posts_path %>
    </div>
  </div>

  <% if @friend_request %>
    <% @friend_request.errors.full_messages.each do |msg| %>
      <%= msg %>
    <% end %>
  <% elsif @friendship %>
    <% @friendship.errors.full_messages.each do |msg| %>
      <%= msg %>
    <% end %>
  <% end %>

  <h2 class="subtitle">Friends</h2>
  <%= render current_user.friends%>
  <br>

  <h2 class="subtitle">Friend Requests</h2>
  <%= render current_user.requesting_friends %>
  <%= render current_user.requested_friends%>
  <br>

  <h2 class="subtitle">Potential Friends</h2>
  <%= render current_user.potential_friends %>

  <h1 class="title">
<% end %>
