<% if post.errors.any? %>
  <% post.errors.full_messages.each do |msg| %>
    <%= msg %>
  <% end %>
<% end %>

<%= form_with model: post do |f| %>
  <div>
    <%= f.label :trail, 'Trail Name:' %>
    <%= f.text_field :trail %>
  </div>
  <div>
    <%= f.label :park, 'Park Name:' %>
    <%= f.text_field :park %>
  </div>
  <div>
    <%= f.label :body, 'Description:' %>
    <%= f.text_area :body %>
  </div>
  <%= f.submit %>
<% end %>