<%= turbo_frame_tag dom_id(post) do %>
  <div class="post card my-5">
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class='image is-48x48'>
            <img class='is-rounded'src='https://picsum.photos/48/48'>
          </figure>
        </div>

        <div class="media-content">
          <strong><%= link_to post.user.username, user_path(post.user), class: "has-text-black", data: { turbo_frame: 'middle-column' } %></strong>
          <div>
            <%= link_to post.trail, post_path(post), class: 'has-text-black' %> at 
            <%= post.park %>
          </div>
        </div>
      </div>

      <div class="pb-2"><%= post.description %></div>

      <div class=""><%= post.time %></div>

      <hr class="m-2">

      <%= render partial: 'posts/controls', locals: { post: post, user: user } %>
    </div>
  </div>
<% end %>