<%= turbo_frame_tag dom_id(post) do %>
<div class="post box my-5 p-0">
  <div class="box mb-0">
    <div class="media">
      <div class="media-left">
        <figure class='image is-48x48'>
          <img class='is-rounded'src='https://picsum.photos/48/48'>
        </figure>
      </div>

      <div class="media-content">
        <strong><%= link_to post.user.username, user_path(post.user), class: "has-text-black", data: { turbo_frame: 'middle-column' } %></strong>
        <div>
          <%= link_to post.trail, post_path(post), class: 'has-text-black' %> at 
          <%= post.park %>
        </div>
      </div>
    </div>

    <div class="p-4"><%= post.description %></div>

    <div class=""><%= post.time %></div>

    <hr class="m-2">

    <%= render partial: 'posts/controls', locals: { post: post, user: user } %>
  </div>

  <div class='p-4 py-5' data-controller='comments' data-comments-hidden-class='hidden'>
    <%= turbo_frame_tag "#{dom_id(post)}_comments" do %>
      <%= render post.comments.persisted, post: post %>
    <% end %>

    <div class="px-3">
      <a data-comments-target='showLink', data-action='comments#show', class='pr-3'>See more comments</a>
      <a data-comments-target='hideLink', data-action='comments#hide', class='pr-3 hidden'>Hide additional comments</a>
      
      <%= turbo_frame_tag "#{dom_id(post)}_#{dom_id(Comment.new)}" do %>
        <%= link_to 'Leave a comment', new_post_comment_path(post) %>
      <% end %>
    </div>
  </div>
</div>
<% end %>