<%= turbo_stream_from 'posts' %>

<section class="section">
  <div class="columns">
    <div class="column">Today's Parks</div>
    <div class="column is-half">
      <div class="level">
        <div class="level-left">What have you been up to lately?</div>
        <div class="level-right">
          <%= link_to "New post", new_post_path, class: "button", data: { turbo_frame: dom_id(Post.new) } %>
        </div>
      </div>
      <%= turbo_frame_tag dom_id(Post.new) %>  
      <%= turbo_frame_tag 'posts' do %>
        <% @posts.each do |post| %>
          <%= render partial: 'post', locals: { post: post, user: current_user } %>
        <% end %>
      <% end %>
    </div>
    <div class="column">
      <div class="box">
        <h1 class="subtitle is-underlined">Friends</h1>

        <%= link_to 'Find Friends', users_path %>
      </div>
    </div>
  </div>
</section>
