<div class="navbar" data-controller='navbar' data-navbar-active-class='is-active'>
  <div class="navbar-brand">
    <a class="navbar-item" href="/posts">
      <span class="icon has-text-white">
        <i class="fa-solid fa-person-hiking fa-lg"></i>
      </span>
     <div class="title has-text-white ml-1">HikerBook</div>
    </a>

    <a class="navbar-burger has-text-white" data-action='navbar#show'>
      <span></span>
      <span></span>
      <span></span>
    </a>
  </div>

  <div class="navbar-menu" data-navbar-target='menu'>
    <div class="navbar-end is-flex" id="navbar-end">
      <% if user_signed_in? %>
        <div class="navbar-item has-dropdown is-hoverable" id='account-menu'>
          <a class='navbar-link is-arrowless button is-white ml-5'>
            <%= current_user.username %>
          </a>
          <div class="navbar-dropdown is-right">
            <div class="navbar-item">
              <%= link_to 'Edit Account', edit_user_registration_path, class: 'button is-white' %>
            </div>
            
            <div class="navbar-item">
              <%= button_to "Logout", destroy_user_session_path, class: "button is-white", method: :delete %>
            </div>
          </div>
        </div>

        <%= render 'layouts/friend_request_notifications', friend_request_count: current_user.received_requests.count %>

      <% else %>
        <div class="navbar-item">
          <%= link_to 'Login', new_user_session_path, class: 'button is-white' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
