<!DOCTYPE html>
<html>
  <head>
    <title>Hikerbook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://kit.fontawesome.com/7342983eb1.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= turbo_stream_from current_user %>

    <%= render 'layouts/navbar' %>

    <div id="flash">
      <%= render 'layouts/flash' %>
    </div>
    
    <section class="section">
      <div class="columns">
        <div class="column" id='left-column'>
          <%= render 'parks/index' %>
        </div>
        <div class="column is-half">
          <%= turbo_frame_tag 'middle-column' do%>
            <%= yield %>
          <% end %>
        </div>
        <div class="column">
          <%= render 'friendships/no_controls_index' %>
        </div>
      </div>
    </section>
  </body>
</html>