<!DOCTYPE html>
<html>
  <head>
    <title>Hikerbook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <section class="section">
      <div class="columns">
        <div class="column">Today's Parks</div>
        <div class="column is-half">
          <%= yield %>
        </div>
        <div class="column">
          <div class="box">
            <h1 class="subtitle is-underlined">Friends</h1>
            <% current_user.friends.each do |friend| %>
              <%= render partial: 'users/friend', locals: { user: friend } %>
              <hr>
            <% end %>
            <%= link_to 'Find Friends', users_path %>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>