<!DOCTYPE html>
<html>
  <head>
    <title>Hikerbook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>


    <div id="flash">
      <%= render 'layouts/flash' %>
    </div>
    
    <section class="section">
      <div class="columns">
        <div class="column">Today's Parks</div>
        <div class="column is-half">
          <%= turbo_frame_tag 'middle-column' do%>
            <%= yield %>
          <% end %>
        </div>
        <div class="column">
          <%= render 'users/friends/index' %>
        </div>
      </div>
    </section>
  </body>
</html>